<% if current_user %>
  <p class="greeting">Hello, <strong><%= current_user.name %></strong>, welcome to Instagramish</p>
  <p class="sign-out"><%= link_to "Sign out", signout_path, id: "sign_out" %></p>
<% else %>
  <div class="login-btns">
    <p class="google-par"><%= link_to "Sign in with Google +", "/auth/google_oauth2", id: "sign_in",class: "google-btn" %></p>
    <p><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "facebook-btn" %></p>
  </div>
<% end %>
