<% if current_user %>
  <div class="header">
    <p class="greeting">Hello, <strong><%= current_user.name %></strong>, welcome to Instagramish</p>
    <p class="sign-out"><%= link_to "Sign out", signout_path, id: "sign_out" %></p>
    <p class="create-post"><%= link_to "Create new post", new_posts_path %></p>
  </div>
  
  <div class="posts">
    <% @posts.each do |post| %>
      <p class="post"> <%= image_tag post.avatars[0].url %></p>
    <% end %>
  </div>
<% end %>

