// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.google-btn {
  background: red;
}

.facebook-btn {
  background: blue;
}

.google-par {
  margin-top: 50px;
  margin-bottom: 30px;
}

.login-btns {
  width: 180px;
  height: 200px;
  padding-top: 20px;
  margin: 0 auto;
}

#sign_in {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.greeting {
  float: left;
}

.sign-out {
  float: right;
}
